


<div class="container ">
  <% if @friends.length == 0 %>
    <div class="align-buttons">
      <div class="inner"><%= link_to new_friend_path, class: "button-memo " do %>
        <i class="fas fa-user-plus"></i> <%= t('.add_friend') %>
        <% end %>
      </div>
    </div>
    <div class="text-white"> <%=t('.no_friends_html') %>
    </div>

  <% else %>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-5 col-sm-6 margin">
          <div class="text-white-titre "> <h2> <%= t('.title') %></h2></div>
        </div>
      </div>
    <% if @recipes.length != 0 %>
      <div class="align-buttons">
        <div class="inner"><%= link_to new_reception_path, class: "button-memo-reception  " do %>
          <i class="fas fa-users"></i> <%= t('.invite_friend')%>
          <% end %>
        </div>
      </div>
    <% else %>

<!--      <div class="align-buttons">
        <div class="inner"><%= link_to recipes_path, class: "button-memo  " do %>
          <i class="fas fa-utensils"></i> <%= t('.add_recipes')%>
          <% end %>
        </div>
      </div> -->

    <% end %>
    <div class="div cadre">



      <% @friends.each do |friend| %>

<!--       <div class="col-xs-12 col-sm-6  col-lg-4">
        <%= link_to friend.name , friend_path(friend.id) , class: "button-friends " %>
        <%= link_to friend_path(friend.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
        <i class="fas fa-trash" style="font-size:20px;color:white"></i>
        <% end %>
      </div> -->

     <div class="col-xs-12 col-sm-6  col-lg-4">
           <div class="card-test ">
              <div class=" card-profile-test">

                <div class="card-avatar-test">
                  <img class="img" src="">
                </div>
                <div class="card-description-test">
                  <h2><%= friend.name %></h2>
                </div>
                <div class="card-how-many-test">
                  <%="Invited #{friend.receptions.count} time(s)" %>
                </div>
              </div>
            </div>

            <div class="card-button-test">
               <%= link_to friend_path(friend.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
                <i class="fas fa-minus-circle" style="font-size:30px;color:#000000"></i>
                <% end %>
            </div>
       </div>

      <% end %>
    </div>
  </div>

  <% end %>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
    <div class="inner"><%= link_to new_friend_path, class: "button-memo " do %>
      <i class="fas fa-user-plus"></i> <%= t('.add_friend')%>
      <% end %>
    </div>
  </div>




    <div class="row">
      <div class="col-xs-2 col-md-1">
        <div class="icons-size">
          <%= link_to root_path, class: " button-fleche-width  " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %>
        </div>
      </div>
    </div>
</div>




