


<div class="container ">
  <% if @friends.length == 0 %>
    <div class="text-white"> <%=t('.no_friends_html') %>
    </div>

  <% else %>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-5 col-sm-6 margin">
          <div class="text-white-titre "> <h2> <%= t('.title') %></h2></div>
        </div>
      </div>
    <% if @recipes.length != 0 %>
      <div class="align-buttons">
        <div class="inner"><%= link_to new_reception_path, class: "button-memo-reception  " do %>
          <i class="fas fa-users"></i> <%= t('.invite_friend')%>
          <% end %>
        </div>
      </div>
    <% else %>

<!--      <div class="align-buttons">
        <div class="inner"><%= link_to recipes_path, class: "button-memo  " do %>
          <i class="fas fa-utensils"></i> <%= t('.add_recipes')%>
          <% end %>
        </div>
      </div> -->

    <% end %>
    <div class="div cadre">



      <% @friends.each do |friend| %>

<!--       <div class="col-xs-12 col-sm-6  col-lg-4">
        <%= link_to friend.name , friend_path(friend.id) , class: "button-friends " %>
        <%= link_to friend_path(friend.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
        <i class="fas fa-trash" style="font-size:20px;color:white"></i>
        <% end %>
      </div> -->

 <a href="<%=friend_path(friend.id) %>">

     <div class="col-xs-12 col-sm-6  col-lg-4">


           <div class="card-test ">
              <div class=" card-profile-test">

                <div class="card-avatar-test">
                  <div class="img"><%= image_tag(friend.avatar) %></div>
                </div>


                <div class="card-description-test">
                  <h2><%= friend.name %></h2>
                </div>
                <div class="card-how-many-test">
                  <%= t('.nb_invite' , count:  friend.receptions.count )%>
                </div>
              </div>
            </div>

            <%= render 'partials/modal-delete-friend' , friend: friend%>
            <div class="card-button-test">
                    <button type="button" class="btn padding-0"
                         data-toggle="modal" data-target="#deleteModal<%= friend.id %>">
                    <i class="fas fa-minus-circle btn-minus" ></i>
                    </button>
             </div>

<!--             <div class="card-button-test">
               <%= link_to friend_path(friend.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
                <i class="fas fa-minus-circle btn-minus" ></i>
                <% end %>
            </div> -->

       </div>
</a>
      <% end %>
    </div>
  </div>

  <% end %>

<br />
<!--   <div class="row">
    <div class="col-xs-5 col-sm-6 align-back" >
        <%= link_to root_path, class: " button-fleche-width  " do %>
        <i class="fas fa-angle-double-left" ></i>
        <% end %>
    </div> -->
      <div class="btn-flex">
        <%= link_to new_friend_path do %>
          <i class="fa fa-plus-circle btn-plus"  ></i>
          <% end %>
    </div>
 </div>
<br />


</div>




