<div class="container">

    <% if @receptions.length == 0 %>

    <div class="text-white">  <%= t('.no_recipe' , name:  @friend.name )  %></div>

    <% else %>

    <div class="text-white-titre"> <h2> <%= t('.title', name: @friend.name) %></h2></div>

    <div class="div cadre">
      <div class="row">

<!-- ON SUPPRIME MODAL CAR IFRAME FONCTIONNE MAL AVEC MODAL -->
<!--       <%= render 'partials/recipe-from-list' %> -->
      <%= render 'partials/modal-ingredient' %>

        <% @receptions.each do |reception| %>
<!-- Fiche Marmiton or 750gr -->
<% if reception.recipe.link != "" %>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

<!--         <a class="iframemodal" href="#myModal"  data-value="<%= reception.recipe.link %>"> -->
            <% if reception.date < DateTime.now  %>
              <div class="card-test card-test-opacity ">
            <% else %>
             <div class="card-test ">
            <% end %>
            <div class=" card-profile-test">

              <div class="card-avatar-test">
                <img class="img" src="<%=reception.recipe.image %>">
              </div>

              <div class="card-description-test">
                <% str = reception.recipe.name %>
                <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
              </div>

              <div class="card-time-test">
                <%= reception.date.strftime(" %e %b %Y")  %>
              </div>

              <div class="card-user-test">
                <% if reception.recipe.logo == "M"%>
                <%= image_tag "marmiton.png", height: 30 %>
                <% elsif reception.recipe.logo == "750" %>
                <%= image_tag "750g.png", height: 20 %>
                <% else  %>
                <%= image_tag "topchef.jpg", height: 20 %>
                <% end %>
              </div>

            </div>
          </div>

<!--         </a> -->

          <%= render 'partials/modal-delete-recipe-friend' , reception: reception%>

          <% if reception.date < DateTime.now  %>
            <div class="card-button-test card-button-test-opacity">
          <% else %>
           <div class="card-button-test ">
          <% end %>

                  <button type="button" class="btn padding-0"
                       data-toggle="modal" data-target="#deleteModal<%= reception.id %>">
                  <i class="fas fa-minus-circle btn-minus" ></i>
                  </button>
           </div>


            <div class="card-button-ingredient">
              <a class="iframemodale" href="#myModale"  data-value="<%=reception.recipe.ingredient%>">
                  <i class="fas fa-utensils btn-ingredient" ></i>
              </a>
            </div>


          </div>
<% else %>
<%= render 'partials/recipe-comment', reception: reception %>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <a data-toggle="modal" href="#myModal<%= reception.id %>">
    <div class="card-test">
      <div class=" card-profile-test" >

        <% if reception.recipe.photoexist %>
           <div class="card-avatar-test">
              <img class="img" src="<%=reception.recipe.photo %>">
            </div>
        <% else %>
           <div class="card-avatar-test img">
              <%= image_tag "icons/ustensile-de-cuisine.png"%>
           </div>
        <% end %>



        <div class="card-description-test">

          <% str = reception.recipe.name %>
          <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
        </div>

        <div class="card-time-test">
          <%= reception.date.strftime(" %e %b %Y")  %>
        </div>

        <div class="card-user-test">
          <% if reception.recipe.logo == "M"%>
          <%= image_tag "marmiton.png", height: 30 %>
          <% elsif reception.recipe.logo == "750" %>
          <%= image_tag "750g.png", height: 20 %>
          <% else  %>
          <%= image_tag "topchef.jpg", height: 20 %>
          <% end %>
        </div>

      </div>
    </div>


    <%= render 'partials/modal-delete-recipe-friend' , reception: reception%>
    <div class="card-button-test">
            <button type="button" class="btn padding-0"
                 data-toggle="modal" data-target="#deleteModal<%= reception.id %>">
            <i class="fas fa-minus-circle btn-minus" ></i>
            </button>
     </div>

  </a>

</div>
<% end %>

          <% end %>
        </div>
      </div>

   <% end %>
    <div class="row">
      <div class="col-xs-2 col-md-1">
        <div class="icons-size">
          <%= link_to friends_path, class: " button-fleche-width " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %>
        </div>
      </div>
    </div>

</div>


