<div class="container">

    <% if @receptions.length == 0 %>

    <div class="text-white">  <%= t('.no_recipe' , name:  @friend.name )  %></div>

    <% else %>

    <div class="text-white-titre"> <h2> <%= t('.title', name: @friend.name) %></h2></div>

    <div class="div cadre">
      <div class="row">


      <%= render 'partials/recipe-from-list' %>

        <% @receptions.each do |reception| %>
<!-- Fiche Marmiton or 750gr -->
<% if reception.recipe.link != "" %>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

        <a class="iframemodal" href="#myModal"  data-value="<%= reception.recipe.link %>">

          <div class="card-test ">
            <div class=" card-profile-test">

              <div class="card-avatar-test">
                <img class="img" src="<%=reception.recipe.image %>">
              </div>

              <div class="card-description-test">
                <% str = reception.recipe.name %>
                <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
              </div>

              <div class="card-time-test">
                <%= reception.date.strftime(" %e %b %Y")  %>
              </div>

              <div class="card-user-test">
                <% if reception.recipe.logo == "M"%>
                <%= image_tag "marmiton.png", height: 30 %>
                <% elsif reception.recipe.logo == "750" %>
                <%= image_tag "750g.png", height: 20 %>
                <% else  %>
                <%= image_tag "toque.jpg", height: 20 %>
                <% end %>
              </div>

            </div>
          </div>

        </a>
         <div class="card-button-test">
             <%= link_to reception_path(reception.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
              <i class="fas fa-minus-circle" style="font-size:30px;color:#000000"></i>
              <% end %>
          </div>


          </div>
<% else %>
<%= render 'partials/recipe-comment', reception: reception %>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <a data-toggle="modal" href="#myModal<%= reception.id %>">
    <div class="card-test">
      <div class=" card-profile-test" >
        <div class="card-description-test">
          <div class="card-avatar-test1">

          </div>
          <% str = reception.recipe.name %>
          <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
        </div>

        <div class="card-time-test">
          <%= reception.date.strftime(" %e %b %Y")  %>
        </div>

        <div class="card-user-test">
          <% if reception.recipe.logo == "M"%>
          <%= image_tag "marmiton.png", height: 30 %>
          <% elsif reception.recipe.logo == "750" %>
          <%= image_tag "750g.png", height: 20 %>
          <% else  %>
          <%= image_tag "toque.jpg", height: 20 %>
          <% end %>
        </div>

      </div>
    </div>

   <div class="card-button-test">
       <%= link_to reception_path(reception.id), method: :delete, data: { confirm: t('confirm_delete') } do %>
        <i class="fas fa-minus-circle" style="font-size:30px;color:#000000"></i>
        <% end %>
    </div>

  </a>

</div>
<% end %>

          <% end %>
        </div>
      </div>

   <% end %>
    <div class="row">
      <div class="col-xs-2 col-md-1">
        <div class="icons-size">
          <%= link_to friends_path, class: " button-fleche-width " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %>
        </div>
      </div>
    </div>

</div>


