<div class="container ">


  <% if @recipes.length == 0 %>


    <div class="align-buttons">
      <div class="inner"><%= link_to new_recipe_path, class: "button-memo " do %>
        <i class="fas fa-utensils"></i> Search new recipe
      <% end %>
      </div>
    </div>
    <div class="text-white center">It's time to test Memo<strong>Cook</strong> ! Register your first recipe
    </div>

  <% else %>

      <div class="row">
      <div class="col-xs-12 col-sm-offset-5 col-sm-6 ">
        <div class="text-white-titre"> <h2>     My recipes </h2></div>
      </div>
    </div>
    <div class="div cadre">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
          <%= link_to  new_recipe_path, class: "button-memo button-memo-custo button-memo-custo-padding" do %>
          <i class="fas fa-utensils"></i>  Search new recipe
          <% end %>
        </div>

        <% @recipes.each do |recipe| %>
        <%= render 'partials/recipe-from-list', recipe: recipe %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <a data-toggle="modal" href="#myModal<%= recipe.id %>">
            <div class="card-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=recipe.image %>');">
              <div class="card-description">
                  <% str = recipe.name %>
                  <h2><%= str.length > 35 ? str[0...35]+"..." : str[0...35] %></h2>
              </div>
              <div class="card-user">
                <% if recipe.logo == "M"%>
                <%= image_tag "marmiton.png", height: 30 %>
                <% else %>
                <%= image_tag "750g.png", height: 20 %>
                <% end %>
              </div>
            </div>
          </a>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <div class="icons-size">
        <%= link_to root_path, class: "button-memo button-fleche-width  " do %>
        <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>




