




<div class="container ">
  <% if @recipes.length == 0 %>

    <div class="text-white "><%=t('.no_recipes_html') %>
    </div>

  <% else %>
    <div class="row">
    <div class="col-xs-12 col-sm-offset-5 col-sm-6 ">
      <div class="text-white-titre"> <h2> <%= t('.title') %></h2></div>
    </div>

  </div>

    <div class="div cadre">
      <div class="row">
<!-- ON REMPLACE MODAL PAR SHOW CAR IFRAME FONCTIONNE MAL AVEC MODAL -->
<!--         <%= render 'partials/recipe-from-list' %> -->
        <%= render 'partials/modal-ingredient' %>
        <% @recipes.each do |recipe| %>
<!-- Marmiton or 750gr -->
<% if recipe.link != "" %>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
<!-- ON REMPLACE MODAL PAR SHOW CAR IFRAME FONCTIONNE MAL AVEC MODAL -->
<!--        <a class="iframemodal" href="#myModal"  data-value="<%=recipe.link%>"> -->
            <%= link_to  recipe_path (recipe.id) do %>
                <div class="card-test ">
                  <div class=" card-profile-test">

                    <div class="card-avatar-test">
                      <img class="img" src="<%=recipe.image %>">
                    </div>

                    <div class="card-description-test">
                      <% str = recipe.name %>
                      <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
                    </div>

                    <div class="card-how-many-test">
<!--                       <%="cooked #{recipe.receptions.count} time(s)" %>
 -->                    </div>

                    <div class="card-user-test">
                      <% if recipe.logo == "M"%>
                      <%= image_tag "marmiton.png", height: 30 %>
                      <% elsif recipe.logo == "750" %>
                      <%= image_tag "750g.png", height: 20 %>
                      <% else  %>
                      <%= image_tag "topchef.jpg", height: 20 %>
                      <% end %>
                    </div>

                  </div>
                </div>

            <% end %>
           <!--  </a> -->



              <%= render 'partials/modal-delete-recipe' , recipe: recipe%>
              <div class="card-button-test">
                      <button type="button" class="btn padding-0"
                           data-toggle="modal" data-target="#deleteModal<%= recipe.id %>">
                      <i class="fas fa-minus-circle btn-minus" ></i>
                      </button>
               </div>

              <div class="card-button-ingredient">
                <a class="iframemodale" href="#myModale"  data-name= "<%=recipe.name%>" data-value="<%=recipe.ingredient%>">
                    <i class="fas fa-utensils btn-ingredient" ></i>
                </a>
              </div>


          </div>
<% else %>
<!-- Recette perso -->
 <!--
  render 'partials/recipe-from-list-comment', recipe: recipe
-->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
<!-- ON REMPLACE MODAL PAR SHOW CAR IFRAME FONCTIONNE MAL AVEC MODAL -->
<!--   <a data-toggle="modal" href="#myModal<%= recipe.id %>"> -->
    <%= link_to  recipe_path (recipe.id) do %>

    <div class="card-test">
      <div class=" card-profile-test" >
        <% if recipe.photoexist %>
           <div class="card-avatar-test">
              <img class="img" src="<%=recipe.photo %>">
            </div>
        <% else %>
           <div class="card-avatar-test img">
              <%= image_tag "icons/ustensile-de-cuisine.png"%>
           </div>
        <% end %>

        <div class="card-description-test">

          <% str = recipe.name %>
          <h2><%= str.length > 29 ? str[0...29] + "..." : str[0...29] %></h2>
        </div>

        <div class="card-how-many-test">
<!--           <%="cooked #{recipe.receptions.count} time(s)" %>
 -->        </div>

        <div class="card-user-test">
          <% if recipe.logo == "M"%>
          <%= image_tag "marmiton.png", height: 30 %>
          <% elsif recipe.logo == "750" %>
          <%= image_tag "750g.png", height: 20 %>
          <% else  %>
          <%= image_tag "topchef.jpg", height: 20 %>
          <% end %>
        </div>

      </div>
    </div>
<!--   </a> -->
   <% end %>
    <%= render 'partials/modal-delete-recipe' , recipe: recipe%>
    <div class="card-button-test">
            <button type="button" class="btn padding-0"
                 data-toggle="modal" data-target="#deleteModal<%= recipe.id %>">
            <i class="fas fa-minus-circle btn-minus" ></i>
            </button>
     </div>


</div>
<% end %>
        <% end %>
      </div>
    </div>
  <% end %>


<!--     <div class="col-xs-5 col-sm-6" >
        <%= link_to root_path, class: " button-fleche-width  " do %>
        <i class="fas fa-angle-double-left" style="font-size:30px;color:#000000"></i>
        <% end %>
    </div> -->
<br />
    <div class="btn-flex">

          <%= link_to new_recipe_path do %>
            <i class="fa fa-plus-circle btn-plus"  ></i>
            <% end %>

    </div>
<br />


</div>


