<div class="container">
  <div class="form-input">
    <%= simple_form_for @recipe, url: suggestions_recipes_path(), method: :get do |f| %>
    <h3>Add new recipe</h3>
    <div class="form-cells">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <%= f.input :name, required: true, autofocus: true , label: "Name"%>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <%= f.input :description,autofocus: true , hint: "leave it blank if you select  Marmiton or 750gr", label: "Comments"%>
        </div>
      </div>

      <div class="row">


          <input type="hidden" name="items[]" value="">
          <div class="category-choices">
            <% @items.each_with_index do |category, index| %>

            <div class="col-xs-12 col-md-6">
              <input class="hidden" type="checkbox" value="<%= index%>" name="items[]" id="items_<%= index%>">
              <label class="category-choice<%= index %>" for="items_<%= index%>">
                <%= category %>
                <i class="fa fa-search"></i>
              </label>
            </div>
            <% end %>
          </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-5">
          <%= f.submit "Validate", class: "button-custo " %>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-2 col-md-1">
          <div class="icons-size">
            <%= link_to :back, class: " button-fleche-width  " do %>
            <i class="fas fa-angle-double-left"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

