

<div class="container">
  <div class="form-input">
    <%= simple_form_for @recipe, url: suggestions_recipes_path(), method: :post do |f| %>
    <h3><%= t('.title') %></h3>

    <div class="form-cells">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
<!--           <%= f.input :name, required: true, autofocus: true , placeholder: "recipe name", label: "Name"%> -->

          <!-- CE BLOC REMPLACE CELUI DU DESSUS AFIN DE POUVOIR INSERER LE margin-left -->
          <div class="form-group string required recipe_name" >
            <label class="form-control-label string required" style=" margin-left:0px;" for="recipe_name"><%= t('.name') %>
              <abbr title="required">*</abbr>
            </label>
            <%aa = t('.recipe_name') %>
            <input class="form-control string required" style="margin-left:0px; " autofocus="autofocus" required="required" aria-required="true" placeholder="<%=aa%>" type="text" name="recipe[name]" id="recipe_name">
          </div>
            <!-- END BLOC -->
        </div>
      </div>
<div class="div cadrerecipe">
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :description, autofocus: true %>
        </div>
      </div>

        <div class="row">
<!--           <div class="col-xs-12 hidden-xs hidden-sm hidden-md ">
 -->          <div class="col-xs-12  ">
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              </div>
        </div>
</div>
      <div class="row">
        <div class="col-xs-12">
          <h3><%= t('.or') %></h3>
        </div>
      </div>
<div class="div cadrerecipe">
      <div class="row">
          <input type="hidden" name="items[]" value="">
          <div class="category-choices">
            <% @items.each_with_index do |category, index| %>

            <div class="col-xs-12 col-md-6">
              <input class="hidden" type="checkbox" value="<%= index%>" name="items[]" id="items_<%= index%>">
              <label class="category-choice<%= index %>" for="items_<%= index%>">
                <%= category %>
                <i class="fa fa-search"></i>
              </label>
            </div>
            <% end %>
          </div>

      </div>
</div>
     <div class="row">
        <div class="col-xs-2 col-md-1">
          <div class="icons-size">
            <%= link_to recipes_path, class: " button-fleche-width  " do %>
            <i class=" fas fa-angle-double-left"></i>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-sm-offset-4">

            <%= f.submit  class: "button-custo", data: { disable_with: " search in progress..." } %>
        </div>
      </div>


      <% end %>
    </div>
  </div>

