
<div class="container">
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-12">

        <span class="icons-size">
          <%= link_to :back, class: " button-fleche-width  " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %></span>
    </div>
  </div>
  <br />

  <% if @recipe.link != "" %>
    <div class="iframerecipe">
        <iframe class="mobile" height="100%" width="100%" scrolling="no" src="<%= @recipe.link%>"></iframe>

        <iframe class="desktop" height="1000" width="100%" scrolling="yes" src="<%= @recipe.link%>"></iframe>
    </div>
  <% else %>
      <div class="modal-body modal-body-custo">
              <div class="modal-description"><%= @recipe.description %> </div>
                <% if @recipe.photoexist  %>
                  <%= cl_image_tag @recipe.photo, height: 600, width: 370, crop: :fill %>
                <% end %>
      </div>
  <% end %>

</div>





