<div class="container ">
  <div class="div cadre">
    <div class="row">
      <% @suggestions.each do |suggestion| %>
      <%= render 'partials/modal-recipe', suggestion:  suggestion %>
      <div class="col-xs-12 col-sm-6 col-lg-4">

  <a href="#" data-toggle="modal" data-target="#myModal<%= suggestion.object_id  %>">

        <div class="card-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=suggestion[:picture]%>');">
          <div class="card-category-brand">Marmiton</div>
          <div class="card-description-recipe">
            <h2><%= suggestion[:title] %></h2>
          </div>

<!--           <button type="button" class="btn-medium card-button-recipe-visualize" data-toggle="modal" data-target="#myModal<%= suggestion %>">
          <i class="far fa-eye"></i>
          </button> -->

          <%= link_to recipes_path, class: " btn-medium card-button-recipe-add " do %>
          <i class="fas fa-plus"></i>
          <% end %>
        </div>
 </a>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <div class="icons-size">
        <%= link_to recipes_path, class: "button-memo button-fleche-width  " do %>
        <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>





