<div class="container ">
  <div class="div cadre">
    <div class="row">
      <% @suggestions.each do |suggestion| %>

        <%= render 'partials/modal-recipe', :variable_name => suggestion %>





      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=suggestion[:picture]%>');">
          <div class="card-category-brand">Marmiton</div>
          <div class="card-description-recipe">
            <h2><%= suggestion[:title] %></h2>
          </div>
           <%= link_to recipes_path, class: " btn-medium card-button-recipe-visualize " do %>
          <i class="far fa-eye"></i>
          <% end %>
          <button type="button" class="btn-medium card-button-recipe-visualize" data-toggle="modal" data-target="#myModal">
            <i class="far fa-eye"></i>
          </button>
          <%= link_to recipes_path, class: " btn-medium card-button-recipe-add " do %>
          <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <div class="icons-size">
        <%= link_to recipes_path, class: "button-memo button-fleche-width  " do %>
        <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>



