<div class="home-navbar-wagon">
  <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "saucepanwhite.png", height: 50 %>
    <% end %>

  <!-- Right Navigation -->
  <div class="home-navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>


      <!-- Avatar with dropdown menu -->
      <div class="home-navbar-wagon-item">
        <div class="dropdown">
          <%= link_to "#", class: "avatar home-dropdown-toggle", id: "home-navbar-wagon-menu", "data-toggle" => "dropdown" do %>
            <i class="fas fa-user-circle" style="font-size:35px;"></i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right home-navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to new_user_session_path, class: "home-navbar-wagon-item home-navbar-wagon-link" do %>
        <%= t(".sign_in", default: "Login") %>
      <% end %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="home-navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars home-dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right home-navbar-wagon-dropdown-menu">

      <% if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path, class: "home-navbar-wagon-item home-navbar-wagon-link" do %>
            <%= t(".sign_in", default: "Login") %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>


