<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="form-input">
      <%= simple_form_for @reception do |f| %>
      <h3><%= t('.title') %></h3>
      <div class="form-cells">

        <div class="row">
          <div class="col-xs-6 date-select" style=" font-size: 25px " >
  <!--           <%= f.input :date, as: :date, required: true, start_year: Date.today.year ,
            end_year: Date.today.year + 2 ,
            order: [:day, :month, :year]  %> -->


            <%= f.input :date, as: :string,  autofocus: true,required: true, input_html: {class: "datepicker" } %>


          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-4">
            <%= f.association :friend , as: :check_boxes, required: false%>
          </div>
        </div> -->
        <div class="row">
          <div class="form-group ">
            <label class="control-label check_boxes optional reception_friend font25px">
              <%= t('.my_friends') %>
            </label>

            <input type="hidden" name="reception[friend_id][]" value="">
            <div class="category-choices">
              <% @friends.each do |category| %>

              <div class="col-xs-12 col-md-6">
                <input class="hidden" type="checkbox" value="<%= category.id %>" name="reception[friend_id][]" id="reception_friend_id_<%= category.id %>">
                <label class="category-choice" for="reception_friend_id_<%= category.id %>">
                  <%= category.name %>
                  <i class="fa fa-check"></i>
                </label>
              </div>
              <% end %>
            </div>
          </div>
        </div>


      <div class="row">
        <div class="form-group ">
          <label class="control-label check_boxes optional reception_recipe font25px">
            <%= t('.my_recipes') %>
          </label>
          <input type="hidden" name="reception[recipe_id][]" value="">
          <div class="category-choices">
            <% @recipes.each do |category| %>
            <div class="col-xs-12 col-md-6">
              <input class="hidden" type="checkbox" value="<%= category.id %>" name="reception[recipe_id][]" id="reception_recipe_id_<%= category.id %>">
              <label class="category-choice" for="reception_recipe_id_<%= category.id %>">
                <%= category.name %>
                <i class="fa fa-check"></i>
              </label>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.input :description %>
        </div>
      </div>

    <div class="row">
      <div class="col-xs-2 col-md-1">
        <div class="icons-size">
          <%= link_to friends_path, class: " button-fleche-width  " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %>
        </div>
      </div>



        <div class="col-xs-6 col-sm-6 ">
          <%= f.submit  t('invite'), class: "button-custo btn-block" %>
        </div>
      </div>

    </div>
    <% end %>
    </div>
  </div>
</div>
</div>

