<% content_for :home_navbar, render('shared/home-navbar') %>

<div class="banner">
  <div class="container">
    <div class="banner-content">
      <% if !user_signed_in? %>

        <h1><%= t('titre_memo_html') %></h1>
        <h2><%= t('.welcome') %></h2>
<!--         <h2><%= t('test') %></h2>
 -->        <div class="elements-container">
        <div class="element">
          <div class="icon"><%= image_tag('icons/cook.png') %></div>
          <span class="word-green"><%= t('.title_box1') %></span>
          <p class= "p-banner"><%= t('.titre_box1') %></p>
        </div>

        <div class="element">
          <div class="icon"><%= image_tag('icons/multiple-11.png') %></div>
          <span class="word-green"><%= t('.title_box2') %></span>
          <p class= "p-banner"><%= t('.titre_box2') %></p>
        </div>
        <div class="element">
          <div class="icon"><%= image_tag('icons/recipe.png') %></div>
          <span class="word-green"><%= t('.title_box3') %></span>
          <p class= "p-banner"><%= t('.titre_box3') %></p>
        </div>
      <% else %>

<!--         <div class="row">

          <div class="col-xs-12 col-sm-6">
           <div class="icons-size">
            <%= link_to  recipes_path, class: "button-home " do %>
              <i class="fas fa-utensils"></i>   <%= t('.myrecipes') %>
            <% end %>
           </div>
          </div>
          <div class="col-xs-12 col-sm-6">
           <div class="icons-size">
            <%= link_to  friends_path, class: "button-home " do %>
              <i class="fas fa-user-friends"></i>  <%= t('.myfriends') %>
            <% end %>
           </div>
          </div>
        </div> -->


        <div class="row">

          <div class="col-xs-6 col-sm-6">
           <div class="category-choices-home">
            <%= link_to  recipes_path do %>
              <div class="category-choice-avatar-home" >
                 <div class=" img"> <%= image_tag("icons/ustensile-de-cuisine.png") %> </div>
                <div class="text-home"> <%= t('.myrecipes') %> </div>
              </div>
            <% end %>
           </div>
          </div>

          <div class="col-xs-6 col-sm-6">
           <div class="category-choices-home">
            <%= link_to  friends_path do %>
              <div class="category-choice-avatar-home" >
                 <div class=" img"> <%= image_tag("icons/AV9.png") %> </div>
                <div class="text-home"> <%= t('.myfriends') %> </div>
              </div>
            <% end %>
           </div>
          </div>



        </div>

      <% end %>


   </div>
  </div>
</div>




